.overlay {
    left: 90%;
    right: 0;
    top: 20px;
    position: absolute;
    cursor: pointer;
}

.wrapperContainer {
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 20px;
    background-color: #fff;
    padding: 20px;
}

.crossWhithText {
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 5px;
    padding: 10px;
}

.locationOfObjects {
    display: grid;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: auto;
}

.mainContainer {
    margin: 100px 0 0 0;
    width: calc(100% - 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #00000036;
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(20px);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.locationDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0 0 0;
}

.wrapperColumes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
