.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.privacyContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox {
    margin-right: 10px;
}

.privacyText {
    font-size: 16px;
    margin: 4px;
}

.spanColor {
    color: #FF5C00;
}


.submitButton {
    background: orange;
    color: white;
    padding: 20px 40px 20px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.error {
    text-decoration: underline;
    text-decoration-color: red;
}

.inputError {
    border-color: red;
}

.inputValid {
    border-color: green;
}


@media (max-width: 730px) {
    .spanColor {
        font-size: 18px;
    }

    .privacyText {
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    .spanColor {
        font-size: 16px;
    }

    .privacyText {
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .spanColor {
        font-size: 14px;
    }

    .privacyText {
        font-size: 14px;
    }

    .privacyContainer {
        display: block;
        text-align: center;
    }

    .input {
        width: 100% !important;
    }
}