/* .cardStyles {
    flex: 1 1 20%;
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-width: 300px;
    max-width: 500px;
} */

.cardStyles {
    flex: 1 1 20%;
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-width: 300px;
    max-width: 500px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}