@font-face {
  font-family: 'Roboto-Black';
  src: url('Components/UI/Fonts/Roboto/Roboto-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto-Black', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Имплементировать копирование содержимого при нажатии + hover animation*/

.textWhiteSmall {
  color: #fff;
  font-size: 20px;
}

.textWhiteMedium {
  color: #fff;
  font-size: 25px;
}

.textGraySmall {
  color: rgb(81, 79, 79);
  font-size: 20px;
}

.textGrayHeavy {
  color: rgb(81, 79, 79);
  font-size: 45px;
}

.textDarkSmall {
  color: rgba(255, 255, 255, 0.54);
  font-size: 20px;
}

.textWhiteBig {
  color: #fff;
  font-size: 30px;
}

.textBlackBig {
  color: #000;
  font-size: 30px;
}

/* Hover for header */
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #ffd102;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.cta:hover:before {
  width: 100%;
  background: #b1dae7;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}

/* Hover for header */

/* Styles for Input */
.input {
  width: 60%;
  max-width: 100%;
  height: 50px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  margin: 10px;
}

.input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  border: 2px solid grey;
}
/* Styles for Input */



.textBlackBig {
  color: #000000;
  font-size: 30px;
}

.textWhiteHeavy {
  color: #fff;
  font-size: 45px;
}

/* Имплементировать копирование содержимого при нажатии + hover animation*/

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.centeredByGrid {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.logo {
  width: 100px;
}

.logoStyles {
  width: 100px;
}