@font-face {
  font-family: 'Roboto-Black';
  src: url('Components/UI/Fonts/Roboto/Roboto-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto-Black', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Имплементировать копирование содержимого при нажатии + hover animation*/

.textWhiteSmall {
  color: #fff;
  font-size: 20px;
}

.textGraySmall {
  color: rgb(81, 79, 79);
  font-size: 20px;
}

.textGrayHeavy {
  color: rgb(81, 79, 79);
  font-size: 45px;
}

.textDarkSmall {
  color: rgba(255, 255, 255, 0.54);
  font-size: 20px;
}

.textWhiteBig {
  color: #fff;
  font-size: 30px;
}

.textBlackBig {
  color: #000000;
  font-size: 30px;
}

.textWhiteHeavy {
  color: #fff;
  font-size: 45px;
}

/* Имплементировать копирование содержимого при нажатии + hover animation*/

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.centeredByGrid {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.logo {
  width: 100px;
}

.logoStyles {
  width: 100px;
}