.cardStylesForPicesAndServicesCardWithTheMove {
    flex: 1 1 50%;
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-width: 400px;
    max-width: 600px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    border-radius: 36px;
    box-shadow: 6px 9px 4px rgba(0, 0, 0, 0.3);
}