.headerWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: calc(100% - 30%);
    height: auto;
    padding: 20px;
    transition: margin 0.3s ease;
    border-bottom: 1px white solid;
    transition: background-color 0.3s ease, margin 0.3s ease;
}

.mainWrapperForHeader {
    display: flex;
    justify-content: space-around;
    transition: background-color 0.3s ease, margin 0.3s ease;
    z-index: 10;
}

.burger {
    position: relative;
    width: 50px;
    height: 50px;
    background: transparent;
    cursor: pointer;
    display: block;
    z-index: 10;
}

.wrapperForLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    position: fixed;
    width: 100px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.32);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 50px;
    cursor: pointer;
    z-index: 10;
}

.toggleInfo {
    margin: 120px 0 0 0;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 50%;
    z-index: 10;
    gap: 31px !important;
}

.toggleInfoMain {
    padding: 5px;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    outline: 0px solid #000000;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

.wrapperForWindow {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 31px;
}

/* Burger menu */

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 4px;
    left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    left: 6px;
    top: 39px;
}

/* Burger menu */

@media (max-width: 1000px) {
    .headerWrapper {
        width: calc(100% - 10%);
    }
}

@media (max-width: 850px) {
    .headerWrapper {
        width: 96%;
    }
}

@media (min-width: 800px) {
    .mainWrapperForHeader {
        display: flex;
    }

    .burgerMenu {
        display: none;
    }

    .hideDiv {
        display: block;
    }
}

@media (max-width: 800px) {
    .mainWrapperForHeader {
        display: none;
    }

    .burgerMenu {
        display: flex !important;
    }

    .hideDiv {
        display: none !important;
    }
}
