@font-face {
  font-family: 'Roboto-Black';
  src: url('Components/UI/Fonts/Roboto/Roboto-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto-Black', sans-serif;
}

html, body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.textWhiteSmall {
  color: #fff;
  font-size: 20px;
}

.textWhiteMedium {
  color: #fff;
  font-size: 25px;
}

.textGraySmall {
  color: rgb(81, 79, 79);
  font-size: 20px;
}

.textGrayMedium {
  color: rgb(81, 79, 79);
  font-size: 25px;
}

.textGrayHeavy {
  color: rgb(81, 79, 79);
  font-size: 45px;
}

.textDarkSmall {
  color: rgba(255, 255, 255, 0.54);
  font-size: 20px;
}

.textWhiteBig {
  color: #fff;
  font-size: 30px;
}

.textBlackBig {
  color: #000;
  font-size: 30px;
}

/* Hover for header */

.buttonHover {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.buttonHover:focus,
.buttonHover:hover {
  color: #fff;
}

.buttonHover:focus:after,
.buttonHover:hover:after {
  width: 100%;
  left: 0%;
}

.buttonHover:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}



.buttonHoverBlack {
  font-size: 24px;
  color: #000000;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.buttonHoverBlack:focus,
.buttonHoverBlack:hover {
  color: #000000;
}

.buttonHoverBlack:focus:after,
.buttonHoverBlack:hover:after {
  width: 100%;
  left: 0%;
}

.buttonHoverBlack:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #000000;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
/* Hover for header */

/* Styles for Input */
.input {
  width: 60%;
  max-width: 100%;
  height: 50px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  margin: 10px;
}

.input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  border: 2px solid grey;
}

@media (max-width: 500px) {
  .input {
      width: 100%;
  }
}

@media (max-width: 340px) {
  .input {
      width: 60%;
  }
}
/* Styles for Input */



.textBlackBig {
  color: #000000;
  font-size: 30px;
}

.textWhiteHeavy {
  color: #fff;
  font-size: 45px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.centeredByGrid {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.logo {
  width: 100px;
}

.logoStyles {
  width: 50px;
  transform: scale(2.5);
}


.leaflet-control-attribution {
  display: none;
}

.leaflet-pane {
  z-index: 8 !important;
}

.leaflet-top, .leaflet-bottom {
  z-index: 8 !important;
}

.leaflet-marker-icon {
  width: 80px;
  height: 80px;
}

/* large-adapted-text large-adapted-text-gray textWhiteSmall textWhiteBig textBlackBig buttonHover buttonHoverBlack*/

@media (max-width: 3500px) {
  .large-adapted-text {
    font-size: 120px !important;

}

.large-adapted-text-gray {
  font-size: 100px !important;

}

  .textWhiteSmall {
    font-size: 35px !important;
  }

  .textWhiteMedium {
    font-size: 40px !important;
  }

  .textGraySmall {
    font-size: 35px !important;
  }

  .textGrayMedium {
    font-size: 40px !important;
  }

  .textGrayHeavy {
    font-size: 60px !important;
  }

  .textDarkSmall {
    font-size: 35px !important;
  }

  .textWhiteBig {
    font-size: 50px !important;
  }

  .textBlackBig {
    font-size: 50px !important;
  }

  .buttonHover {
    font-size: 50px !important;
  }

  .buttonHoverBlack {
    font-size: 50px !important;
  }
  
}

@media (max-width: 3000px) {

  .large-adapted-text {
    font-size: 90px !important;

}

.large-adapted-text-gray {
  font-size: 70px !important;

}
  .textWhiteSmall {
    font-size: 32px !important;
  }

  .textWhiteMedium {
    font-size: 35px !important;
  }

  .textGraySmall {
    font-size: 32px !important;
  }

  .textGrayMedium {
    font-size: 35px !important;
  }

  .textGrayHeavy {
    font-size: 55px !important;
  }

  .textDarkSmall {
    font-size: 32px !important;
  }

  .textWhiteBig {
    font-size: 45px !important;
  }

  .textBlackBig {
    font-size: 45px !important;
  }

  .buttonHover {
    font-size: 45px !important;
  }

  .buttonHoverBlack {
    font-size: 45px !important;
  }
}

@media (max-width: 2800px) {
  .large-adapted-text {
    font-size: 80px !important;

}

.large-adapted-text-gray {
  font-size: 60px !important;

}
  .textWhiteSmall {
    font-size: 28px !important;
  }

  .textWhiteMedium {
    font-size: 32px !important;
  }

  .textGraySmall {
    font-size: 28px !important;
  }

  .textGrayMedium {
    font-size: 32px !important;
  }

  .textGrayHeavy {
    font-size: 50px !important;
  }

  .textDarkSmall {
    font-size: 28px !important;
  }

  .textWhiteBig {
    font-size: 40px !important;
  }

  .textBlackBig {
    font-size: 40px !important;
  }

  .buttonHover {
    font-size: 40px !important;
  }

  .buttonHoverBlack {
    font-size: 40px !important;
  }
}

@media (max-width: 2400px) {
  .large-adapted-text {
    font-size: 70px !important;

}

.large-adapted-text-gray {
  font-size: 50px !important;

}

  .textWhiteSmall {
    font-size: 23px !important;
  }

  .textWhiteMedium {
    font-size: 28px !important;
  }

  .textGraySmall {
    font-size: 23px !important;
  }

  .textGrayMedium {
    font-size: 28px !important;
  }

  .textGrayHeavy {
    font-size: 45px !important;
  }

  .textDarkSmall {
    font-size: 23px !important;
  }

  .textWhiteBig {
    font-size: 35px !important;
  }

  .textBlackBig {
    font-size: 35px !important;
  }

  .buttonHover {
    font-size: 35px !important;
  }

  .buttonHoverBlack {
    font-size: 35px !important;
  }
}

@media (max-width: 2000px) {
  .large-adapted-text {
    font-size: 60px !important;

}

.large-adapted-text-gray {
  font-size: 45px !important;

}

  .textWhiteSmall {
    font-size: 20px !important;
  }

  .textWhiteMedium {
    font-size: 25px !important;
  }

  .textGraySmall {
    font-size: 20px !important;
  }

  .textGrayMedium {
    font-size: 25px !important;
  }

  .textGrayHeavy {
    font-size: 45px !important;
  }

  .textDarkSmall {
    font-size: 20px !important;
  }

  .textWhiteBig {
    font-size: 30px !important;
  }

  .textBlackBig {
    font-size: 30px !important;
  }

  .buttonHover {
    font-size: 27px !important;
  }

  .buttonHoverBlack {
    font-size: 27px !important;
  }
}

@media (max-width: 1450px) {
  .large-adapted-text {
    font-size: 42px !important;

}

.large-adapted-text-gray {
  font-size: 35px !important;

}

  .textWhiteSmall {
    font-size: 18px !important;
  }

  .textWhiteMedium {
    font-size: 22px !important;
  }

  .textGraySmall {
    font-size: 18px !important;
  }

  .textGrayMedium {
    font-size: 22px !important;
  }

  .textGrayHeavy {
    font-size: 40px !important;
  }

  .textDarkSmall {
    font-size: 18px !important;
  }

  .textWhiteBig {
    font-size: 26px !important;
  }

  .textBlackBig {
    font-size: 26px !important;
  }

  .buttonHover {
    font-size: 20px !important;
  }

  .buttonHoverBlack {
    font-size: 20px !important;
  }
}

@media (max-width: 1100px) {

  .large-adapted-text {
    font-size: 35px !important;

}

.large-adapted-text-gray {
  font-size: 28px !important;

}
  .textWhiteSmall {
    font-size: 16px !important;
  }

  .textWhiteMedium {
    font-size: 20px !important;
  }

  .textGraySmall {
    font-size: 16px !important;
  }

  .textGrayMedium {
    font-size: 20px !important;
  }

  .textGrayHeavy {
    font-size: 35px !important;
  }

  .textDarkSmall {
    font-size: 16px !important;
  }

  .textWhiteBig {
    font-size: 22px !important;
  }

  .textBlackBig {
    font-size: 22px !important;
  }

  .buttonHover {
    font-size: 20px !important;
  }

  .buttonHoverBlack {
    font-size: 20px !important;
  }
}

@media (max-width: 800px) {

  .large-adapted-text {
    font-size: 28px !important;

}

.large-adapted-text-gray {
  font-size: 24px !important;

}
  .textWhiteSmall {
    font-size: 14px !important;
  }

  .textWhiteMedium {
    font-size: 18px !important;
  }

  .textGraySmall {
    font-size: 14px !important;
  }

  .textGrayMedium {
    font-size: 18px !important;
  }

  .textGrayHeavy {
    font-size: 30px !important;
  }

  .textDarkSmall {
    font-size: 14px !important;
  }

  .textWhiteBig {
    font-size: 20px !important;
  }

  .textBlackBig {
    font-size: 20px !important;
  }

  .buttonHover {
    font-size: 25px !important;
  }

  .buttonHoverBlack {
    font-size: 25px !important;
  }
}

@media (max-width: 400px) {

  .large-adapted-text {
    font-size: 20px !important;

}

.large-adapted-text-gray {
  font-size: 16px !important;

}
  .textWhiteSmall {
    font-size: 12px !important;
  }

  .textWhiteMedium {
    font-size: 16px !important;
  }

  .textGraySmall {
    font-size: 12px !important;
  }

  .textGrayMedium {
    font-size: 16px !important;
  }

  .textGrayHeavy {
    font-size: 25px !important;
  }

  .textDarkSmall {
    font-size: 12px !important;
  }

  .textWhiteBig {
    font-size: 18px !important;
  }

  .textBlackBig {
    font-size: 18px !important;
  }

  .buttonHover {
    font-size: 20px !important;
  }

  .buttonHoverBlack {
    font-size: 20px !important;
  }
}

@media (max-width: 300px) {

  .large-adapted-text {
    font-size: 18px !important;

}

.large-adapted-text-gray {
  font-size: 15px !important;

}
  .textWhiteSmall {
    font-size: 10px !important;
  }

  .textWhiteMedium {
    font-size: 14px !important;
  }

  .textGraySmall {
    font-size: 10px !important;
  }

  .textGrayMedium {
    font-size: 14px !important;
  }

  .textGrayHeavy {
    font-size: 20px !important;
  }

  .textDarkSmall {
    font-size: 10px !important;
  }

  .textWhiteBig {
    font-size: 15px !important;
  }

  .textBlackBig {
    font-size: 15px !important;
  }

  .buttonHover {
    font-size: 14px !important;
  }

  .buttonHoverBlack {
    font-size: 14px !important;
  }
}



/* appearance animation */


/* .blockAppearanceAnimation {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes appear {
  from {
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
  }

  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
} */

/* appearance animation */



